body {
	font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 { 
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	font-family: 'Lora', serif;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#collapsable-nav a {
	font-size: 1.2em;
}
#nav-list {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	
}
#nav-list a {
	color: black;
	text-align: center;
}
#nav-list a:hover {
	background: grey;
	text-decoration: none;
}
#nav-list a span {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, {
	border: 1px solid black;
	clear: both;
}
/** MAIN CONTENT **/
h2 {
	margin-top: 15px;
	margin-bottom: 30px;
	font-weight: bold;
}
h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	background-color: grey;
	font-weight: bold;
}
p {
	background-color: grey;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}
div {
	margin-left: 20px;
	margin-right: 20px;
	
}
